*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;
}
section.edit{
    margin-bottom: 15%;
}
h1.Profile{
    text-align: center;
    padding-bottom: 4%;
    font-weight: 700;
}
.card-body{
    display: flex;
}
.form-wrapper{
    color: var(--primary10);
    margin-left: 5%;
}
input:not(label input){
    font-size: 16px;
    padding: 10px;
    border: 2px solid var(--primary40);
}
input:focus{
    border: 2px solid var(--primary10);
    outline: transparent;
}
.imag1{
    height: auto;
}
.form1{
    display:inline-block;
}
section.ranks{
    margin-bottom: 15%;
}
h1.rank{
    text-align: center;
    font-weight: 700;
    padding-bottom: 4%;
}
.rank3{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.rank3 thead th{
    background-color: var(--primary10);
    color: var(--secondary10);
    text-align: left;
    font-weight: bold;
}
.rank3 th{
    padding: 15px 20px;
}
.rank3 td{
    padding: 20px 20px;
}
.rank3 tbody tr{
    border-bottom: 1px solid var(--secondary30);
}
.rank3 tbody tr:nth-of-type(even) {
    background-color: var(--secondary20);
    font-weight: bold;
    color: var(--primary10);
}
.rank3 tbody tr:nth-of-type(odd) {
    background-color: var(--secondary10);
}
.add{
    background-color: var(--secondary20);
    font-weight: bold;
    color: var(--primary10);
    width: 15%;
    margin-left: 85%;
}
.add:hover{
    background-color: var(--primary10);
    color: var(--secondary20);
}
.trophy{
    text-align: center;
    font-weight: 700;
    padding-bottom: 4%;
}
.box-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box-collection .child{
    box-shadow: 0 5px 15px 0;
    margin: 2%;
    padding: 1.5%;
    width: 10em;
    transition: all 0.5s ease;
}
.box-collection.three .child:hover{
    transform: scale(1.1);
}
.child.bg-wt-20{
    background-color: var(--secondary20);
}
img{
    width:100%;
    height: 10em;
}
img:hover{
    opacity: 0.9;
}
.levels{
    color: var(--primary20);
    margin-top: 5%;
    font-size: 1.5rem;
}
.info{
    display: flex;
    justify-content: space-between;
}
.icon1{
    color: gold;
    padding-top: 1.5%;
    font-size: 2rem;
}
.icon2{
    color: silver;
    padding-top: 1.5%;
    font-size: 2rem;
}
.icon3{
    color: rgba(134, 24, 24, 0.781);
    padding-top: 1.5%;
    font-size: 2rem;
}

