.banner-texted{
    display: flex;
    justify-content:center;
    color: aliceblue;
    background-image:url(/assets/images/26034.jpg);
    background-size: cover;
    width : 100%;
    height : 200px;
    padding: 50px;
    margin-bottom: 50px;
    align-items: center;
}
h2,h1,h3{
    color: aliceblue;
    margin-bottom: 50px;
}
.one-card{
    width: 48%;
    display: inline-block;
    margin-bottom: 50px;
}
.img{
    width: 100%;
    background-size:cover;  
    margin-bottom:50px;
}
.left{
    margin-right: 15px;
}
.right{
    margin-left: 40px;
}
.Up{
    display: flex;
    justify-content: center;
}

div.ranks{
    width : 100%;
    margin-bottom: 10%;
}
table,th,td{
    border: 1px solid  var(--primary20);
}
table{
    width:100%;
}
td,th{
    /* width:20%; */
    /* padding: 2%; */
    color:var(--secondary20);
}
h1{
    display: flex;
    justify-content: center;
}
li,td,th{
    /* font-size: 25px; */
}