/* body, html { */
    /*height: 100%;*/
    /* margin: 0;
    background-color: #181823;
} */


.main{
    /*background-image: url("../../assets/images/bg.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    /* background-color: #181823; */
}



.main_img{
    margin-top: 3%;
    /* margin-left: 5%; */
    margin-bottom: 1%;
    /* margin-right: 10%; */
    outline-width: 10px;   
    /* width: 90%; */
    height: 75%;
    overflow: hidden;
}

.main_img img{
    object-fit: cover;
    max-width: 100%; 
    height: 100%;
    height: fit-content;
}

#game_title{
    margin: 0;
    /*margin-left: 5%;*/
    padding: 0;
    transform:translateY(50%);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ececec;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px #7c13ff,
    0 0 82px #7c13ff,
    0 0 92px #7c13ff,
    0 0 102px #7c13ff,
    0 0 151px #7c13ff;
}

.secoundry_images{
    /* width: 95%; */
    height: 250px;
    object-fit: contain;
    /* margin-left: 4%; */
    margin-bottom: 1%;
}

.secoundry_images img{
    width: 19.4%;
    height: 100%;
    /* margin-left: 1%; */
    margin-top: 1%;
}

.description_links{
    overflow: hidden;
}

.description{
    /* width: 90%; */
    /* margin-left: 5%; */
    float: left;
}

#des_title{
    margin: 0%;
    margin-bottom: 2%;
    padding: 0;
    transform:translateY(50%);
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #ececec;
}

#review_title{
    margin: 0%;
    margin-bottom: 4%;
    /* margin-left: 5%; */
    padding: 0;
    transform:translateY(50%);
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #ececec;
}

.description p{
    color: #d1d1d1;
    font-size: 1.25rem;
    font-weight: 500;
}



.review{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* margin-left: 10%; */
    float: left;
    /* margin-right: 2%; */
}

.progress{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
    margin-right: 15%;
    margin-left: 3%;
}

#last_circle{
    margin-right: 5%;
}

.progress h1{
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
}

.progress h1 span{
    font-size: 0.65em;
    font-weight: 400;
}

.progress h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--clr);
    color: white;
    text-transform: uppercase;
}

.progress::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}

.progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin-bottom: 2%;
    margin-left: 50%;
}


i{
    color:white;
    font-size: 2rem;
}

#discord:hover{
    color: #7c13ff;
}

#love:hover{
    color:red;
}

#download:hover{
    color: green;
}


#trailer_title{
    margin: 0%;
    margin-bottom: 4%;
    padding: 0;
    transform:translateY(50%);
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #ececec;
}

.trailer{
    /* margin-left: 5%; */
    margin-bottom: 5%;
}

@media (width <= 1250px) {
    .description p{
        color: #d1d1d1;
        font-size: 0.75rem;
        font-weight: 500;
    }

    #game_title{
        font-size: 1rem;
    }
    #des_title{
        font-size: 0.75rem;
    }
    #review_title{
        font-size: 0.75rem;
    }
    .secoundry_images{
        width: 95%;
        height: 100px;
        object-fit: contain;
        /* margin-left: 4%; */
        margin-bottom: 1%;
    }
}