.card{
    width: 33%;
    margin-left: 5px;
}
.prizes{
    display:flex ;
    margin-bottom: 50px;
}
.banner{
    width: 100%;
    height: auto;    
}
.icon{
    width: 100%;
    font-size: 150px;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
div.agenda{
    width : 100%;
    margin-bottom: 10%;
}
table,th,td{
    border: 1px solid  var(--primary20);
}
table{
    width:100%;
}
td,th{
    width:20%;
    padding: 2%;
    color:var(--secondary20);
    font-size: 25px;
}
#pdate{
    color: aliceblue;
    text-align: center;
}
#pdiscription{
    color: aliceblue;
}