#title{
    font-size: 3.5em;
    color:rgba(118, 31, 199, 0.856);
    margin-top:auto
     ;
}
#p1{
    position: relative;
    bottom: 60px;
    left: 4px;
    
    color: white
    
    ;
}
.imgs{
  border: solid white;
  border-radius: 15px;
    width: 400px;
    height: 420px;
    float:left;
    margin-right: 10px;
}
#rag{
    
    position: relative;
    top: 470px;
    font-size: 2em;
    color: whitesmoke;
}
#rdr2{
    position: relative;
    font-size: 2em;
    top: 425px;
    left:420px;
    color:whitesmoke;
}
#spider
{
    position: relative;
    font-size: 2em;
    top:385px;
    left:830px;
    color: whitesmoke;

}