*{
box-sizing: border-box;
scroll-behavior: smooth;
text-transform: capitalize;
}

*:not(i) {
font-family: "Reddit Mono", monospace;
}

.box-holder{
padding: 0px;
box-sizing: border-box;
}

body{
margin: 0;
}

.box.w-90{
width: 85%;
}

.box.p-0{
padding: 0;
}

.box.hcenter{
display: block;
margin: auto;
}

/* .bg{
   choose one 
} */

.container{
margin-left: 10%;
margin-top: 22%;
padding-bottom: 50px;
line-height: 0.5em;
}

.h1{
color: #fff;
font-weight: bold;
padding-bottom: 5%;
font-size: 100px;
word-spacing: -20px;
text-shadow: 1px 1px 1px #d1d1d1;
}

.info{
position: relative;
color: #fff;
font-weight: 350;
word-spacing: -7px;
font-size: 60px;  
text-shadow: 1px 1px #d1d1d1;
line-height: 1.2em;
}

.button{
position: absolute;
padding: 20px 35px;
left: 24%;
top: 72%;
font-size: 40px;
border-radius: 40px;
border-style: none;
word-spacing: -7px;
font-weight: bold;
}

.button:hover{
text-decoration: none;
color: #fff;
background-color:#391660;
cursor: pointer;
transition: all 0.8s ease-in-out;
scale: 1.2;
border: 2px #391660;
}

.card{
position: absolute;
left:58%;
top: 28%;
background-color: #fff;
border-radius: 45px;
filter: grayscale(100%);
}

.card img{
position: center;
height: 100%;
}

.card:hover{
background-color:#391660;
filter: grayscale(0);
cursor: pointer;
transition: all 0.5s ease-out;
scale: 1.05;
}

#Ranking{
display: none;
margin-top: 20%;
margin-bottom: 10%;
}

.hd1{
color: var(--primary10);
margin-left: 10%;
font-size: 45px;
font-weight: bold;
}

.rankgamers, td, th{
text-align: center;
width: 30%;
font-size: 3.5rem;
color: #fff;
margin-left: 8%;
border: #391660 2px solid;   
}

.rankgamers, td, th:focus{
outline: none;
border-color: #391660;
box-shadow: 0 0 10px #fff;
}

.rankgamers, th, td:focus{
  outline: none;
  border-color: #391660;
  box-shadow: 0 0 10px #fff;
  } 

.num{
font-weight: bold;
}

.num:hover{
font-weight: bolder ;
text-decoration: none;
color: #391660;
background-color:#fff;
cursor: pointer;
transition: all 0.8s ease-in-out;
scale: 1;
border: 2px #391660;
}

.logo{
align-self: center;
filter: grayscale(100%);
}

.logo:hover{
filter: grayscale(0);
cursor: pointer;
transition: all 0.5s ease-out;
scale: 1.05;
}

.hd2{
  color: var(--primary10);
margin-left: 10%;
font-size: 45px;
font-weight: bold;
}

.rankgames, td, th{
  text-align: center;
  width: 30%;
  font-size: 3.5rem;
  color: #fff;
  margin-left: 8%;
  border: #391660 2px solid;   
}

.rankgames, td, th:focus{
  outline: none;
  border-color: #391660;
  box-shadow: 0 0 10px #fff;
  }
  
  .rankgames, th, td:focus{
    outline: none;
    border-color: #391660;
    box-shadow: 0 0 10px #fff;
    } 

.top{
  padding: 60px;
  font-weight: bold;
}

.top:hover{
  font-weight: bolder ;
  text-decoration: none;
  color: #391660;
  background-color:#fff;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  scale: 1;
  border: 2px #391660;
  }

.pic{
 object-fit: fill;
 width: 100%;
 filter: grayscale(100%);
}  

.pic:hover{
  filter: grayscale(0);
  cursor: pointer;
  transition: all 0.5s ease-out;
  scale: 1.05;
  }