@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
:root{
    --bg100: #181823;
    --bg90: #191825;
    --bg80: #1b1927;
    --bg70: #1d1c2a;
    --bg60: #201e2f;
    --bg50: #1c1a2a;

    --primary10: #7c13ff;
    --primary20: #391660;
    --primary30: #251349;
    --primary40: #1e1336;

    --secondary10: #fff;
    --secondary20: #eeeeee;
    --secondary30: #d1d1d1;
    --secondary40: #b0b0b0;
}
*:not(i) {
    font-family: "Reddit Mono", monospace;
}


.title{
    text-align: center;
}



/* Container */
.box-holder{
    padding: 30px;
    box-sizing: border-box;
}
.box-holder.vcenter{                                
    height: 100vh;
    position: relative;
}


/* Box & positions */
.box{
    height: 100%;
}
.box.hcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box.vcenter{
    display: block;
    display: block;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Box Sizing */
.box.w-90{
    width: 85%;
}
.box.w-80{
    width: 80%;
}
.box.w-75{
    width: 75%;
}
.box.w-65{
    width: 65%;
}
.box.w-50{
    width: 50%;
}
.box.w-33{
    width: 33.33%;
}
.box.w-25{
    width: 25%;
}


/* image Sizing */
.img-box.fit{
    height: fit-content;
}
.img-wfull{
    width: 100%;
}
.img-hfull{
    height: 100%;
}
.img-75{
    width: 75%;
}
.img-65{
    width: 65%;
}
.img-55{
    width: 55%;
}
.img-50{
    width: 50%;
}
.img-45{
    width: 45%;
}
.img-35{
    width: 35%;
}
.img-25{
    width: 25%;
}









@media (max-width: 800px) {
    .box.w-80, .box.w-75, .box.w-60, .box.w-50{
        width: 80%;
    }
    .box.w-33, .box.w-25{
        width: 60%;
    }
}
@media (max-width: 500px) {
    .box.w-80, .box.w-75, .box.w-60, .box.w-50{
        width: 90%;
    }
    .box.w-33, .box.w-25{
        width: 100%;
    }
    .box-holder{
        padding-left: 10px;
        padding-right: 10px;
    }
}







.float-l{
    float: left;
}
.float-r{
    float: right;
}








/* Near boxes */
.box-collection .child{
    float: left;
}
.box-collection.three .child{
    width: calc(100%/3);
}
.box-collection.two .child{
    width: 50%;
}
.box-collection.four .child{
    width: 25%;
}


/* Paddings */
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}

.pl-0{
    padding-left: 0;
}
.pl-10{
    padding-left: 10px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
    padding-left: 30px;
}

.pr-0{
    padding-right: 0;
}
.pr-10{
    padding-right: 10px;
}
.pr-20{
    padding-right: 20px;
}
.pr-30{
    padding-right: 30px;
}

.pb-0{
    padding-bottom: 0;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}

.pt-0{
    padding-top: 0;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}









.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: var(--primary10);
    color: var(--secondary10);
    text-align: left;
    font-weight: bold;
}
.content-table th{
    padding: 15px 20px;
}
.content-table td {
    padding: 8px 20px;
}
.content-table tbody tr {
    border-bottom: 1px solid var(--secondary30);
}
.content-table tbody tr:nth-of-type(even) {
    background-color: var(--secondary20);
    font-weight: bold;
    color: var(--primary10);
}
.content-table tbody tr:nth-of-type(odd) {
    background-color: var(--secondary10);
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary10);
}