*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg100);
    margin: 0;
}

button{
    cursor: pointer;
}



/* buttons sizes*/
.btn-sm {
    font-size: 12px;
    padding: 5px 10px;
}
.btn-se-md {
    font-size: 14px;
    padding: 7px 12px;
}
.btn-md {
    font-size: 16px;
    padding: 8px 14px;
}
.btn-lg {
    font-size: 18px;
    padding: 10px 16px;
}
.btn-fs {
    width: 100%;
}
.btn-50 {
    width: 50%;
}
.btn-25 {
    width: 25%;
}


/* buttons Colors*/
.btn-thm-1{
    background-color: var(--primary10);
    border: 2px solid var(--primary10);
    color: var(--secondary20);
}
.btn-thm-2{
    background-color: var(--primary20);
    border: 2px solid var(--primary20);
    color: var(--secondary20);
}
.btn-thm-3{
    background-color: var(--primary30);
    border: 2px solid var(--primary30);
    color: var(--secondary20);
}
.btn-thm-4{
    background-color: var(--primary40);
    border: 2px solid var(--primary40);
    color: var(--secondary20);
}
.btn-del{
    background-color: #ff094e;
    border: 2px solid #ff094e;
}
.btn-warn{
    background-color: #fae500;
    border: 2px solid #fae500;
}
.btn-success{
    background-color: #00fa53;
    border: 2px solid #00fa53;
}
.btn-thm-1.outline{
    background-color: transparent;
    border: 2px solid var(--primary10);
    color: var(--primary10);
    transition: 0.3s;
}
.btn-thm-1.outline:hover{
    background-color: var(--primary10);
    color: var(--secondary10);
}
.btn-thm-2.outline{
    background-color: transparent;
    border: 2px solid var(--primary20);
    color: var(--primary20);
    transition: 0.3s;
}
.btn-thm-2.outline:hover{
    background-color: var(--primary20);
    color: var(--secondary20);
}


/* Links colors */
.link-primary{
    color: var(--primary10);
    font-weight: 500;
    /* text-decoration: none; */
}
.link-primary-dk{
    color: var(--primary20);
    font-weight: 500;
    /* text-decoration: none; */
}
.link-secondary{
    color: var(--secondary10);
    font-weight: 500;
    /* text-decoration: none; */
}
.link-primary:hover, .link-primary-dk:hover, .link-secondary:hover{
    text-decoration: underline;
}


/* button as Links */
.btnlink{
    display: block;
}


/* Font Weight */
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}


/* Font size */
.ft-85{
    font-size: 0.85rem;
}
.ft-1{
    font-size: 1rem;
}
.ft-115{
    font-size: 1.15rem;
}
.ft-125{
    font-size: 1.25rem;
}
.ft-135{
    font-size: 1.35rem;
}
.ft-145{
    font-size: 1.45rem;
}
.ft-15{
    font-size: 1.5rem;
}
.ft-175{
    font-size: 1.75rem;
}
.ft-185{
    font-size: 1.85rem;
}
.ft-2{
    font-size: 2rem;
}


/* Text colors */
.txt-primary{
    color: var(--primary10);
}
.txt-primary-dk{
    color: var(--primary20);
}
.txt-primary-bl{
    color: var(--primary40);
}
.txt-secondary{
    color: var(--secondary10);
}
.txt-secondary-20{
    color: var(--secondary20);
}
.txt-secondary-30{
    color: var(--secondary30);
}
.txt-secondary-40{
    color: var(--secondary40);
}


/* Paddings */
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}

.pl-0{
    padding-left: 0;
}
.pl-10{
    padding-left: 10px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
    padding-left: 30px;
}

.pb-0{
    padding-bottom: 0;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}

.pt-0{
    padding-top: 0;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}



.formlabel{
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
input:not(label input){
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--bg60);
    border: 2px solid var(--primary40);
    color: var(--secondary40);
}
input:focus{
    border: 2px solid var(--primary10);
    outline: transparent;
}
input::placeholder{
    color: var(--secondary10);
    font-size: 13px;
    font-weight: 500;
}







