:root{
    --bg100: #fff;
    --bg90: #eeeeee;
    --bg80: #d1d1d1;
    --bg70: #b0b0b0;
    
    --primary10: #7c13ff;
    --secondary10: #391660;
    --primary30: #251349;
    --primary40: #1e1336;

    --primary20: #181823;
    --secondary20: #fff;
    --secondary30: #fff;
    --secondary40: #fff;
}


*:not(i) {
    font-family: "Reddit Mono", monospace;
}




   /* Box & positions */
.box{
    height: 100%;
}
.box.hcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box.vcenter{
    display: block;
    display: block;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Box Sizing */
.box.w-90{
    width: 85%;
}
.box.w-80{
    width: 70%;
}
.box.w-75{
    width: 75%;
}
.box.w-65{
    width: 65%;
}
.box.w-50{
    width: 50%;
}
.box.w-33{
    width: 33.33%;
}
.box.w-25{
    width: 25%;
}


/* image Sizing */
.img-box.fit{
    height: fit-content;
}
.img-wfull{
    width: 100%;
}
.img-hfull{
    height: 100%;
}
.img-75{
    width: 75%;
}
.img-65{
    width: 65%;
}
.img-60{
    width: 100%;
}
.img-55{
    width: 55%;
}
.img-50{
    width: 50%;
}
.img-45{
    width: 45%;
}
.img-40{
    width: 100%;
}
.img-35{
    width: 35%;
}
.img-25{
    width: 25%;
}

.auth{
    padding: 30px;
    border-radius: 30px;
    background-color: var(--primary20) !important;
}
.auth *{
    color: var(--secondary20);
}

.auth input, .form1 input{
    background-color: var(--secondary10);
    color: var(--bg100);
}
.auth input::placeholder, .form1 input::placeholder{
    color: var(--bg100);
}
.auth h1{
    text-align: center;
    padding-top: 60px;
}

.txt-primary-dk{
    color: var(--primary10) !important;
}

.img-wfull{
    display: none;
}

/* Container */
.box-holder{
    box-sizing: border-box;
}
.box-holder.vcenter{                                
    height: 100vh;
    /* position: relative; */
}

.box.w-90{
    max-width: 70%;
    min-width: 500px !important;
    margin: auto;
}

.terms{
    border-radius: 30px !important;
}
.taps-box button{
    border-radius: 30px;
    margin-left: 5px;
    width: calc(50% - 5px);
}


img{
    border-radius: 40px !important;
}
.br-20 .bg-prim20, .banner-texted, iframe, video, input, select, textarea{
    border-radius: 40px !important;
}

table{
    overflow: hidden;
}

.btn-fs{
    text-align: center;
    font-size: 22px !important;
    font-weight: 600;
}


.two-cards .one-card1, .two-cards .one-card2{
    width: 100% !important;
    margin: 20px 0;
}

table, tr, td, th{
    border-radius: 20px;
}
table *{
    color: var(--primary20) !important;
}

.contenta{
    padding: 30px;
}


.header{
    background-color: var(--primary20) !important;
    margin-bottom: 30px;
    position: fixed;
    top: 10px;
    width: 70%;
    min-width: 700px;
    margin: auto;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px !important;
}

.footer{
    background-color: var(--primary20) !important;
    padding: 10px;
    margin-top: 30px;
    width: 70%;
    margin: 30px auto;
    min-width: 700px;
    border-radius: 30px;
}

.box-holder{
    margin-top: 100px;
}


.card1{
    /* width: 20% !important;
    height: auto;
    padding: 20px; */
}


.info, .h1, #ctitle, #pdate, #cabtion_table{
    color: var(--primary20) !important;
}

.card {
    margin-left: 5px;
    border-radius: 30px;
    width: 100% !important;
    display: block;
    margin: 0;
    padding: 30px;
    margin-bottom: 20px;
  }

.prizes {
    display: block !important;
    
}

.btn-thm-2{
    background-color: var(--primary10) !important;
}

.db-holder{
    padding-left: 10%;
    padding-right: 10%;
}

.box-collection .child {
    border-radius: 30px !important;
    width: 100% !important;
    display: block;
    margin-right: 0 !important;
}

.box-collection .child img{
    height: auto;
}
.box-collection.three{
    display: block;
}


.db-holder table {
    border-radius: 30px !important;
}
.db-holder table *{
    background-color: transparent !important;
    border-radius: 30px !important;
}
.dfd{
    color: var(--primary20)!important;
}

.feeds *{
    color: var(--primary20) !important;
}
.feeds{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feeds .info{
    display: block !important;
}
.feeds .feed_box{
    padding: 20px !important;
    border-radius: 20px;
    border-color: #181823;
    width: calc(50% - 10px);

}

.sidebarCont a{
  color: var(--bg100);
}